-@moods.each do |mood|
  .col-xs-12.col-sm-6.col-md-4.margin-top-40
    =link_to mood_hood_path(@hood.id, mood.id) do
      .mood-box.overlay-wrapper
        =image_tag(mood.background.url, class: "bg-mood")
        .dark-overlay
          .text-overlay.text-center
            =image_tag(mood.icon.url)
            .text-center
              %h4=mood.name
              -dish_moods = DishMood.where("mood_id = ?", mood.id).map{|d| d.dish_id}
              -dishes_no_mood = Dish.joins(:restaurant).near([@hood.latitude, @hood.longitude], 0.75)
              -@dishes = dishes_no_mood.select{|dish| dish_moods.include?(dish.id)}
              %p=@dishes.count
