%h1.text-center=@mood.name
%h4.text-center=@mood.description
-@dishes.each do |dish|
  .col-sm-12.col-md-6
    =link_to dish_path(dish) do
      .dish-box
        =image_tag(dish.dish_images.first.avatar.url, style: "width:100%;")
        .dark-overlay
          .text-overlay.text-center
            %h3=dish.name
            -@restaurant = Restaurant.find(dish.restaurant_id)
            %p
              =@restaurant.name
              %br
              =@restaurant.full_street_address