.text-center 
  %h1
    We Did Not Find Any Dishes Near Your Location
  %h3
    Right now we are only in New York City. Try One of these Neighborhoods or search again.
.row.row-centered{style:"background: rgb(231, 231, 231);padding-top:20px;"}
  .col-xs-12.col-centered
    .form-group.text-center
      = form_tag(pages_search_path, :method => "get", class: "", id: "search-form") do
        .col-xs-12.col-sm-8{style:"margin-bottom:10px;"}
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter Your Delivery Address (i.e. 123 Main Street, Newark, DE)"
        .col-xs-12.col-sm-2{style: "padding-left:0px;"}
          %button.btn.btn-info{:type => "submit"}
            %i.icon-search
            Find Food in My Area
        .clearfix

.row.row-centered
  -Hood.all.each do |hood|
    .col-xs-12.col-sm-6.col-centered
      =link_to hood do 
        .hood-box.overlay-wrapper
          =image_tag(hood.avatar.url, class: "img-responsive")
          .dark-overlay
            .text-overlay
              %h3.text-center
                %i.fa.fa-map-marker
                =hood.name