%h1.text-center How Are You Feeling?
-@moods.each do |mood|
  .col-sm-12.col-md-4
    =link_to mood_hood_path(@hood, mood: mood.id) do
      .mood-box.overlay-wrapper
        =image_tag(mood.background.url)
        .dark-overlay
          .text-overlay.text-center
            =image_tag(mood.icon.url)
            .text-center
              %h4=mood.name
