%h1 Privacy Policy
%h4 SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?
%p 
  When you use our site, we collect the personal information you give us such as your name, address and email address.
%p 
  When you browse our site, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.

%p Email marketing: With your permission, we may send you emails about our site, new products and other updates.
%br
%h4 SECTION 2 - CONSENT

%p HOW DO YOU GET MY CONSENT?
%p 
  When you provide us with personal information to complete use our site to browse, find, and discuss movies, we imply that you consent to our collecting it and using it for that specific reason only.
%p 
  If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.

%p HOW DO I WITHDRAW MY CONSENT?
%p 
  If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at hello@unhungr.com or mailing us at: unhungr 175 Varick Street, 4th Floor, New York, NY United States 10013
%br
%h4 SECTION 3 - DISCLOSURE
%p 
  We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
%br
%h4 SECTION 4 - THIRD-PARTY SERVICES
%p 
  In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
%p 
  However, certain third-party service providers have their own privacy policies in respect to the information we are required to provide to them for transactions.
%p 
  For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
%p 
  In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
%p 
  Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.

%p LINKS
%p 
  When you click on links on our site, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
%br
%h4 SECTION 5 - SECURITY
%p 
  To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
%br
%h4 SECTION 6 - COOKIES
%p 
  For a list of cookies we use, please contact us at hello@unhungr.com and we’ll send them to you so you can choose if you want to opt-out of cookies or not.
%br
%h4 SECTION 7 - AGE OF CONSENT
%p 
  By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
%br
%h4 SECTION 8 - CHANGES TO THIS PRIVACY POLICY
%p 
  We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
%p 
  If our site is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to serve you.
