.text-center
  %h1 Hungry, But Don't Know What To Eat?
  %h1 Find The Perfect Take-Out Meal
  %h3 Visually Browse Local Delivery Dish by Your Mood
.margin-top-20
  -@moods.each do |mood|
    .col-xs-12.col-sm-6.col-md-4.margin-top-40{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", "data-whatever" => "#{mood.id}"}
      .mood-box.overlay-wrapper
        =image_tag(mood.background.url, class: "bg-mood")
        .dark-overlay
          .text-overlay.text-center
            =image_tag(mood.icon.url)
            .text-center
              %h4=mood.name

=render "location_modal"