.text-center
  %h1 Find Food by Your Mood
  %h3 Find the right dish by choosing how you feel or by what you have going on
  %h4 First Select Your Hood:
.hood-select
  -Hood.all.each do |hood|
    .col-sm-6
      =link_to hood do 
        .hood-box.overlay-wrapper
          =image_tag(hood.avatar.url, class: "img-responsive")
          .dark-overlay
            .text-overlay
              %h3.text-center=hood.name
