.text-center
  %h1 What Do I Feel Like Ordering?
  %h3 What are you in the mood for? Choose your food by your mood.
  %br
  %h4 First Select Your Hood (next your mood):
.hood-select.margin-top-40
  .row.row-centered
    -Hood.all.each do |hood|
      .col-xs-12.col-sm-6.col-centered
        =link_to hood do 
          .hood-box.overlay-wrapper
            =image_tag(hood.avatar.url, class: "img-responsive")
            .dark-overlay
              .text-overlay
                %h3.text-center=hood.name
