.row.row-centered
  .col-xs-12.col-sm-9.col-centered
    .text-center
      %h1{style: "margin:10px 0 0 0;font-weight:500;text-transform: uppercase;font-size: 57px;"} 
        %span{style:"text-transform:none;font-size: 50px;"}
          It's 
          =local_time(Time.now, "%A")
          at
          =local_time(Time.now, "%l:%M %p")
        %br
        %span{style:"font-weight:800;"}
          and you're Hungry.
      %h1{style: "margin:3px;font-size:40px;"}
        %i Find the perfect meal for right now.
      %h3{style: "font-weight:200;"}
        Visually Browse Delivery Dishes Near
        %b{style:"color:rgb(255, 0, 116);"}=@street
        %br
        %span{style:"font-size:80%;"}Then simply order from your favorite delivery services.
      %p
        Not at
        %b="#{@street}?"
        %span.link-spoof{"data-target" => "#myModal", "data-toggle" => "modal", :type => "link"}
          Click here 
        to enter your delivery location. 
.row
  -@moods.each do |mood|
    .col-xs-12.col-sm-6.col-md-4.margin-top-40
      =link_to mood_path(mood, :location => @coords) do
        .mood-box.overlay-wrapper
          =image_tag(mood.background.url, class: "bg-mood")
          .dark-overlay
            .text-overlay.text-center
              =image_tag(mood.icon.url)
              .text-center
                %h4=mood.name
                -dish_moods = DishMood.where("mood_id = ?", mood.id).map{|d| d.dish_id}
                -dishes_no_mood = Dish.joins(:restaurant).near([@coords.first, @coords.last], 0.75)
                -@dishes = dishes_no_mood.select{|dish| dish_moods.include?(dish.id)}
                %p=@dishes.count

=render "location_modal"