%p
  =image_tag(@dish.dish_images.first.avatar.url, class: "img-responsive")

%p
  %b Restaurant:
  = @dish.restaurant_id
%p
  %b Name:
  = @dish.name
%p
  %b Moods:
  -@dish.moods.each do |m|
    =m.name
= link_to 'Edit', edit_dish_path(@dish)
\|
= link_to 'Back', dishes_path
