%h1 Listing restaurants
= grid(@restaurants_grid) do |g|                                     
  -g.column name: 'ID', attribute: 'id'
  -g.column name: 'Name', attribute: 'name'
  -g.column name: 'Address', attribute: 'address'
  -g.column name: 'City', attribute: 'city'
  -g.column name: 'Longitude', attribute: 'longitude'
  -g.column name: 'Latitude', attribute: 'latitude'
  -g.column name: 'View' do |restaurant|
    -link_to "View", restaurant
  -g.column name: 'Delete' do |restaurant|
    -link_to "Delete", restaurant, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Restaurant', new_restaurant_path
