// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hood-box
  height: 225px
  width: 100%
  background-position: no-repeat center center
  -webkit-background-size: 175%
  -moz-background-size: 175%
  -o-background-size: 175%
  background-size: 175%
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease
    //height: 300px
  .dark-overlay
    .text-overlay
      position: relative
      top: 40%
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -ms-transition: all 0.5s ease
    transition: all 0.5s ease      
  &:hover
    -webkit-background-size: 200%
    -moz-background-size: 200%
    -o-background-size: 200%
    background-size: 200%

#logo-header
  background: white
  padding: 5px

.sidr
  font-family: inherit
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

.nav-btn
  background: rgb(255, 0, 116)
  border-radius: 0px
  font-size: 20px

.nav-tabs.nav-justified
  li
    a
      border-radius: 0px

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus
  border-bottom-color: rgb(255, 0, 116)
  border-top: 0
  border-right: 0
  border-left: 0
#sidr
  ul
    li:hover
      box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.00)
      a:hover
        box-shadow: inset 0px 1px 1px 3px rgba(0,0,0,0.10)

.email-collect
  background-color: #4A4A4A
  padding: 10px 0 0 0