%meta{:content => "#{@title}", :property => "og:title"}
%meta{:content => "unhungr - visual food delivery", :property => "og:site_name"}
%meta{:content => "#{request.original_url}", :property => "og:url"}
%meta{:content => "#{@image}", :property => "og:image"}
%meta{:content => "#{@description}", :property => "og:description"}
%meta{:content => "903913049654466", :property => "fb:app_id"}