%meta{:content => "#{@title}", :property => "og:title"}/
%meta{:content => "unhungr - visual food delivery", :property => "og:site_name"}/
%meta{:content => "#{request.original_url}", :property => "og:url"}/
%meta{:content => "#{@image}", :property => "og:image"}/
%meta{:content => "#{@description}", :property => "og:description"}/
%meta{:content => "858338294224598", :property => "fb:app_id"}/
%meta{:content => "article", :property => "og:type"}/
%meta{:content => "https://www.facebook.com/unhungr", :property => "article:author"}/
%meta{:content => "https://www.facebook.com/unhungr", :property => "article:publisher"}/