%button.btn.nav-btn#simple-menu
  %span.glyphicon.glyphicon-align-justify
#sidr
  %nav
    #logo-header
      %a{:href => "/"}
        =image_tag("unhungr_logo.png", style: "width:130px;")
      .clearfix
    %ul
      %li
        =link_to "ABOUT", pages_about_path
      %li
        =link_to "CONTACT", pages_contact_path
      %li
        =link_to "FAQ", pages_faq_path
      -unless current_user
        %li
          =link_to "SIGN IN", new_user_session_path
        %li
          =link_to "SIGN UP", new_user_registration_path
      -else
        %li
          =link_to "LOG OUT", destroy_user_session_path, :method=>'delete'
        -if current_user.admin == true
          %li
            =link_to "ALL DISHES", dishes_path
          %li
            =link_to "ALL RESTAURANTS", restaurants_path
