%meta{:content => "summary_large_image", :name => "twitter:card"}
%meta{:content => "@unhungrr", :name => "twitter:site"}
%meta{:content => "@unhungrr", :name => "twitter:creator"}
%meta{:content => "#{@title}", :name => "twitter:title"}
%meta{:content => "#{@description}", :name => "twitter:description"}
%meta{:content => "#{@image}", :name => "twitter:image"}/